* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(128, 128, 128);
}

#fractalsCanvas {
  background: yellow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
